<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />

    <title>Biblioteka</title>
  </head>
  <body>
    <h1>Biblioteka</h1>
    <h2 class="search-title">Pretraži knjige</h2>

    <div class="search-container">
      <form action="/search" method="GET">
        <input
          class="search-input"
          type="text"
          name="query"
          placeholder="naslov / godina izdanja / autor"
        />
        <button type="submit" class="search-button">Pretraži</button>
      </form>
    </div>

    <div class="books-container">
      {% for book in books %}
      <div class="book-card">
        <img src="{{ book[4] }}" alt="{{ book[1] }}" class="book-image" />
        <div class="book-info">
          <h2 class="book-title">{{ book[1] }}</h2>
          <p class="book-author"><strong>Autor:</strong> {{ book[2] }}</p>
          <p class="book-publishYear">
            <strong>Objavljeno:</strong> {{ book[3] }}
          </p>
          <a href="/update-info/{{ book[0] }}"
            ><button class="update-button">Ažuriraj</button></a
          >
          <form action="/delete/{{ book[0] }}" method="post">
            <button class="delete-button" type="submit">Obriši</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <div class="div-form">
      <form action="/add" method="post" class="book-form">
        <h2 class="form-title">Dodaj novu knjigu</h2>
        <input
          type="text"
          name="title"
          placeholder="Unesite naslov knjige"
          class="form-input"
          required
        />
        <input
          type="text"
          name="author"
          placeholder="Unesite autora knjige"
          class="form-input"
          required
        />
        <input
          type="text"
          name="publishYear"
          placeholder="Unesite godinu objave knjige"
          class="form-input"
          required
        />
        <input
          type="text"
          name="image"
          placeholder="Unesite link slike"
          class="form-input"
          required
        />
        <br />
        <button type="submit" class="form-button">Dodaj knjigu</button>
      </form>
    </div>
  </body>
</html>
